.qr-page-panel {
  background: var(--ds-surface, var(--aui-page-background, white));
  display: flex;
  flex-wrap: wrap;

  pre, ul, b, > * {
    word-wrap: break-word;
    text-wrap: stable;
  }

  div > div {
    margin-right: 20px;
    margin-top: 20px;
  }

  table {
    border-collapse: collapse;
  }

  table th {
    background-color: #f5f5f5;
  }

  table td, th {
    border: solid 1px #ccc;
    padding: 5px;
  }

  #qr-curl-examples {
    button, pre {
      margin-left: 20px;
    }
  }

  #plugin-upload-button {
    margin-left: 10px;
  }

  .qr-column {
    min-width: 450px;
    max-width: 50%;
  }
}
